* {
  box-sizing: border-box;
}

/* Grid measurements:
 *
    TOTAL WIDTH
 *   960px wide 
      including 12 gutters (half gutters on both edges)
 *
    GUTTERS
    *   20px gutters (two half-gutters + 11 full gutters, so 12 total)

    COLUMNS
 *   60px columns (12)
 
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  /*max-width: 1000px;*/
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  width: 90%;
  padding: 0 5%;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-2, .col-2-3, .col-3, .col-3-4, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * PREVIOUS Half a gutter is 10px, 10/960 (context) = 1.041666%
   * CURRENT Half a gutter is 20px, 10/960 (context) = 2.083333%
   *
   */
  /*padding-left: 1.04166666%;*/
  /*padding-right: 1.04166666%;*/
  padding-left: 2.083333%;
  padding-right: 2.083333%;
}

/* Mobile defaults */
.col-2, .col-2-3, .col-3, .col-3-4, .col-4, .col-6, .col-12 {
  width: 100%;
}

@media only screen and (min-width: 450px){
  .col-2-3, .col-3-4{
    width: 50%;
  }

  .col-3-4{
    width: 50%;
  }
}

/* Non-mobile, grid */
@media only screen and (min-width: 800px) {
  
  /* 2 columns, 2/12 in % */  
  .col-2{
    width: 16.666667%;
  }

  /* 3 columns, 3/12 in % */
  .col-3, .col-2-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-3-4, .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }
}