main {
  background-color: rgb(15,31,50);
}

h1{
  font-size: 2em;
  margin: 0;
  padding: 0.67em 0;
  text-align: center;
}

/*
  NAV
*/
* {
  font-family: sans-serif
}
nav {
  background: black;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  height: 45px;
  line-height: 45px; 
}
nav ul {
  margin: 0;
  padding: 0;
  display: block; 
}
nav ul a {
  color: white; 
}
nav ul li {
  margin: 0 auto;
  list-style-type: none;
  display: inline-block;
  width: 32%;
  text-align: center;
  line-height: 45px; 
}

/*Nav buttons*/
.navButton {
  color: white;
  background-color: transparent;
  border: none; 
}

.box {
  /*height: 200px;*/
  /*padding-top: 30px;*/
  text-align: center;
  margin-bottom: 20px;
}

a.box{
  /*background-size: 100%;*/
  background-size: cover;
  display: block;
}

a.box img{
  max-width: 100%;
  margin-bottom: -3px;
}

a.box.r-fill img{
  background-color: rgba(225,25,25,.5);
}

a.box.rlg-fill img{
  background-color: rgba(225,125,25,.5);
}

a.box.rg-fill img{
  background-color: rgba(225,225,25,.5);
}

a.box.lrg-fill img{
  background-color: rgba(125,225,25,.5);
}

a.box.g-fill img{
  background-color: rgba(25,225,25,.5);
}

a.box.glb-fill img{
  background-color: rgba(25,225,125,.5);
}

a.box.gb-fill img{
  background-color: rgba(25,225,225,.5);
}

a.box.lgb-fill img{
  background-color: rgba(25,125,225,.5);
}

a.box.b-fill img{
  background-color: rgba(25,25,225,.5);
}

.col-4 div a{
  max-width: 100%;
}

section.welcome{
  color: white;
  background-image: url('./assets/imgs/page/welcome.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: cover;
  height: 500px;
  position: relative;
  margin-bottom: 50px;
}

.text-box{
  position: absolute;
  bottom: 15px;
  padding: 15px;
}

.intro-text{
  line-height: 1.25;
}

.tech-list-box{
  padding: 0;
}

.tech-list{
  color: gainsboro;
  font-size: 12px;
  margin: 5px 0;
  word-spacing: 3px;
  line-height: 1.2;
  /*text-transform: uppercase;*/
}

.tech-li{
  display: inline-block;
}

.tech-li i{
  font-style: italic;
}

.tech-li.title{
  text-decoration: underline;
}

.tech-li::after{
  content: ' | ';
}

.tech-li:last-child::after{
  content: '';
}

.tech-li.title::after{
  content: '';
}

/*
  Box bg images
*/
.mastering-bg{
  background: transparent url('./assets/imgs/D3.png') top left no-repeat;
}
.pizza-bg{
  background: transparent url('./assets/imgs/nodeServer.jpg') top left no-repeat;
}
.say-what-bg{
  background: transparent url('./assets/imgs/say-what/1.jpg') top left no-repeat;
}
.world-map-bg{
  background: transparent url('./assets/imgs/worldmap/1.jpg') top left no-repeat;
}
.rhode-island-bg{
  background: transparent url('./assets/imgs/ristats/1.jpg') top left no-repeat;
}
.housing-permits-bg{
  background: transparent url('./assets/imgs/ctPermits/1.jpg') top left no-repeat;
}
.erp-bg{
  background: transparent url('./assets/imgs/erp/1.jpg') top left no-repeat;
}
.macro-recipes-bg{
  background: transparent url('./assets/imgs/macro/1.jpg') top left no-repeat;
}
.my-miles-bg{
  background: transparent url('./assets/imgs/miles/1.jpg') top left no-repeat;
}

.caption{
  text-align: left;
  color: white;
  background-color: rgba(200,125,0,1);
  padding: 20px 5px 20px 10px;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}
