/*:root{
  --baby-blue: rgb(87,185,221);
};*/

body{
  background-color: rgb(15,31,50);
  margin: 0;
}

main {
  display: inline-block;
  /*width: 90%;*/
}

#projects-wrapper{
  padding: 0 5%;
}

h1{
  font-size: 2em;
  margin: 0;
  padding: 0.67em 0;
  text-align: center;
}

/*
  NAV
*/
* {
  font-family: sans-serif
}
nav {
  background: black;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  height: 45px;
  line-height: 45px; 
}
nav ul {
  margin: 0;
  padding: 0;
  display: block; 
}
nav ul a {
  color: white; 
}
nav ul li {
  margin: 0 auto;
  list-style-type: none;
  display: inline-block;
  width: 32%;
  text-align: center;
  line-height: 45px; 
}

/*Nav buttons*/
.navButton {
  color: white;
  background-color: transparent;
  border: none; 
}

.box {
  text-align: center;
  margin-bottom: 20px;
}

div.box{
  background-size: cover;
  display: block;
  border-radius: 0 0 25px 25px;
  height: 305px;
  text-decoration: none;
  padding: 0;
}

div.box img{
  max-width: 100%;
  margin-bottom: -3px;
  border-radius: 0 0 25px 25px;
}

.col-4 div a{
  max-width: 100%;
}

section.welcome{
  color: white;
  background-image: url('./assets/imgs/page/welcome.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: cover;
  height: 530px;
  position: relative;
  margin-bottom: 50px;
}

section.welcome *{
  max-width: unset;
}

.text-box{
  position: absolute;
  top: 15px;
  padding: 15px;
  color: black;
}

.intro-text{
  line-height: 1.25;
}

.intro-text b {
  font-size: 2.5em;
}

.intro-text i{
  font-style: italic;
  font-size: .85em;
}

.tech-list-box{
  padding: 10px 15px;
  margin: 60px 0 0 0;
  background-color: rgba(0,0,0,.8);
  border-radius: 5px;
}

.tech-list{
  color: black;
  color: lightgrey;
  font-size: 14px;
  margin: 5px 0 0 0;
  word-spacing: 3px;
  line-height: 1.2;
  padding: 0;
}

.tech-li{
  display: inline-block;
}

.tech-li i{
  font-style: italic;
}

.tech-li.title{
  text-decoration: underline;
}

.tech-li::after{
  content: ' | ';
}

.tech-li:last-child::after{
  content: '';
}

.tech-li.title::after{
  content: '';
}

/*
  Box bg images
*/

div.psmi-bg{
  background-image: url('./assets/imgs/psm.png');
  background-size: inherit;
}

.mastering-bg{
  background: center / auto no-repeat url('./assets/imgs/D3.png');
}
.slice-n-dice-bg{
  background: center / auto no-repeat url('./assets/imgs/slice.jpeg');
}
.pizza-bg{
  background: center / auto no-repeat url('./assets/imgs/nodeServer.jpg');
}
.say-what-bg{
  background: center / auto no-repeat url('./assets/imgs/say-what/1.jpg');
}
.world-map-bg{
  background: center / auto no-repeat url('./assets/imgs/worldmap/1.jpg');
}
.rhode-island-bg{
  background: center / auto no-repeat url('./assets/imgs/ristats/1.jpg');
}
.housing-permits-bg{
  background: center / auto no-repeat url('./assets/imgs/ctPermits/1.jpg');
}
.erp-bg{
  background: center / auto no-repeat url('./assets/imgs/erp/1.jpg');
}
.macro-recipes-bg{
  background: center / auto no-repeat url('./assets/imgs/macro/1.jpg');
}
.my-miles-bg{
  background: center / auto no-repeat url('./assets/imgs/miles/1.jpg');
}

.caption{
  text-align: left;
  color: white;
  padding: 20px 5px 5px 5px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
  position: relative;
}

.sub-text{
  font-size: .7em;
}

.sub-text.eye-pop{
  font-size: .9em;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

div.box, div.caption, img.overlay{
  transition: all 300ms;
}

p.overlay-text{
  opacity: 0;
  color: white;
}

div.box:hover p.overlay-text{
  opacity: 1;
}

.box .caption a{
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 10px;
}

.box .caption a.open{
  background: rgba(0,0,0,0) url(./assets/imgs/open.png) center / 35px 35px;
}

.box .caption a.git{
  background: rgba(0,0,0,0) url(./assets/imgs/github.png) center / 35px 35px;
}