/*:root{
  --baby-blue: rgb(87,185,221);
};*/

body{
  background-color: rgb(15,31,50);
}

main {
  display: inline-block;
  /*width: 90%;*/
}

#projects-wrapper{
  padding: 0 5%;
}

h1{
  font-size: 2em;
  margin: 0;
  padding: 0.67em 0;
  text-align: center;
}

/*
  NAV
*/
* {
  font-family: sans-serif
}
nav {
  background: black;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  height: 45px;
  line-height: 45px; 
}
nav ul {
  margin: 0;
  padding: 0;
  display: block; 
}
nav ul a {
  color: white; 
}
nav ul li {
  margin: 0 auto;
  list-style-type: none;
  display: inline-block;
  width: 32%;
  text-align: center;
  line-height: 45px; 
}

/*Nav buttons*/
.navButton {
  color: white;
  background-color: transparent;
  border: none; 
}

.box {
  text-align: center;
  margin-bottom: 20px;
}

a.box{
  background-size: cover;
  display: block;
  border-radius: 0 0 25px 25px;
  /*background-color: darkred;*/
  height: 270px;
}

a.box img{
  max-width: 100%;
  margin-bottom: -3px;
  border-radius: 0 0 25px 25px;
}

/**/
/*.caption.r-fill{
  background-color: rgba(205,12,12,.98);
}*/

div.caption{
  background-color: inherit;
}
/*.r-fill img{*/
  /*background-color: rgba(205,12,12,.95);*/
/*}*/

/**/
/*.caption.rlg-fill{
  background-color: rgba(205,112,12,.98);
}*/

a.box.rlg-fill img{
  /*background-color: rgba(205,112,12,.95);*/
}

/**/
/*.caption.rg-fill{
  background-color: rgba(205,205,12,.98);
}*/

a.box.rg-fill img{
  /*background-color: rgba(205,205,12,.95);*/
}

/**/
/*.caption.lrg-fill{
  background-color: rgba(112,205,12,.98);
}*/

a.box.lrg-fill img{
  /*background-color: rgba(112,205,12,.95);*/
}

/**/
/*.caption.g-fill{
  background-color: rgba(12,205,12,.98);
}*/

a.box.g-fill img{
  /*background-color: rgba(12,205,12,.95);*/
}

/**/
/*.caption.glb-fill{
  background-color: rgba(12,205,112,.98);
}*/

a.box.glb-fill img{
  /*background-color: rgba(12,205,112,.95);*/
}

/**/
/*.caption.gb-fill{
  background-color: rgba(12,205,205,.98);
}*/

a.box.gb-fill img{
  /*background-color: rgba(12,205,205,.95);*/
}

/**/
/*.caption.lgb-fill{
  background-color: rgba(12,112,205,.98);
}*/
a.box.lgb-fill img{
  /*background-color: rgba(12,112,205,.95);*/
}

/**/
/*.caption.b-fill{
  background-color: rgba(12,12,205,.98);
}*/
a.box.b-fill img{
  /*background-color: rgba(12,12,205,.95);*/
}

.col-4 div a{
  max-width: 100%;
}

section.welcome{
  color: white;
  background-image: url('./assets/imgs/page/welcome.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: cover;
  height: 500px;
  position: relative;
  margin-bottom: 50px;
}

.text-box{
  position: absolute;
  bottom: 15px;
  padding: 15px;
}

.intro-text{
  line-height: 1.25;
}

.intro-text i{
  font-style: italic;
  font-size: .85em;
}

.tech-list-box{
  padding: 0;
}

.tech-list{
  color: gainsboro;
  font-size: 12px;
  margin: 5px 0;
  word-spacing: 3px;
  line-height: 1.2;
  /*text-transform: uppercase;*/
}

.tech-li{
  display: inline-block;
}

.tech-li i{
  font-style: italic;
}

.tech-li.title{
  text-decoration: underline;
}

.tech-li::after{
  content: ' | ';
}

.tech-li:last-child::after{
  content: '';
}

.tech-li.title::after{
  content: '';
}

/*
  Box bg images
*/
.mastering-bg{
  background: center / auto no-repeat url('./assets/imgs/D3.png');
}
.pizza-bg{
  background: center / auto no-repeat url('./assets/imgs/nodeServer.jpg');
}
.say-what-bg{
  background: center / auto no-repeat url('./assets/imgs/say-what/1.jpg');
}
.world-map-bg{
  background: center / auto no-repeat url('./assets/imgs/worldmap/1.jpg');
}
.rhode-island-bg{
  background: center / auto no-repeat url('./assets/imgs/ristats/1.jpg');
}
.housing-permits-bg{
  background: center / auto no-repeat url('./assets/imgs/ctPermits/1.jpg');
}
.erp-bg{
  background: center / auto no-repeat url('./assets/imgs/erp/1.jpg');
}
.macro-recipes-bg{
  background: center / auto no-repeat url('./assets/imgs/macro/1.jpg');
}
.my-miles-bg{
  background: center / auto no-repeat url('./assets/imgs/miles/1.jpg');
}

.caption{
  text-align: left;
  color: white;
  padding: 20px 5px 20px 10px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
}

.sub-text{
  font-size: .7em;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

a.box, div.caption, img.overlay{
  transition: all 300ms;
}

a.box:hover, a.box:hover > img.overlay{
  transform: scale(1.02);
  background-blend-mode: multiply;
  /*background-image: none;*/
}

p.overlay-text{
  opacity: 0;
  color: white;
}

a.box:hover p.overlay-text{
  opacity: 1;
}


/*
  Hover V2, a-la 'comma'
*/
.hover-v2{
  border-radius: 0 0 25px 25px;
}