main {
  padding-top: 100px;
  background-color: rgb(15,50,80);
}


/*
  NAV
*/
* {
  font-family: sans-serif
}
nav {
  background: black;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  height: 45px;
  line-height: 45px; 
}
nav ul {
  margin: 0;
  padding: 0;
  display: block; 
}
nav ul a {
  color: white; 
}
nav ul li {
  margin: 0 auto;
  list-style-type: none;
  display: inline-block;
  width: 32%;
  text-align: center;
  line-height: 45px; 
}

/*Nav buttons*/
.navButton {
  color: white;
  background-color: transparent;
  border: none; 
}

.box {
  /*height: 200px;*/
  text-align: center;
  padding-top: 30px;
  margin-bottom: 20px;
}

a.box{
  background-size: 100%;
  display: block;
}

a.box img{
  max-width: 100%;
}

.col-4 div a{
  max-width: 100%;
}

.welcome{
  color: white;
}

.tech-li{
  display: inline-block;
}

.tech-li::after{
  content: ' | ';
}

/*
  Box bg images
*/
.mastering-bg{
  background: transparent url('./assets/imgs/masteringD3.jpg') top left no-repeat;
}
.pizza-bg{
  background: transparent url('./assets/imgs/nodeServer.jpg') top left no-repeat;
}
.say-what-bg{
  background: transparent url('./assets/imgs/say-what/1.jpg') top left no-repeat;
}
.world-map-bg{
  background: transparent url('./assets/imgs/worldmap/1.jpg') top left no-repeat;
}
.rhode-island-bg{
  background: transparent url('./assets/imgs/ristats/1.jpg') top left no-repeat;
}
.housing-permits-bg{
  background: transparent url('./assets/imgs/ctPermits/1.jpg') top left no-repeat;
}
.erp-bg{
  background: transparent url('./assets/imgs/erp/1.jpg') top left no-repeat;
}
.macro-recipes-bg{
  background: transparent url('./assets/imgs/macro/1.jpg') top left no-repeat;
}
.my-miles-bg{
  background: transparent url('./assets/imgs/miles/1.jpg') top left no-repeat;
}

.caption{
  background: transparent rgba(0,255,0,1) top left repeat;
  color: white;
  font-family: Arial;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}
