div.hover-v2:hover::before{
  opacity: 1;
}

div.hover-v2:before{
  backgroun: rgba(0,0,0,.6) !important;
  transition: opacity .35s;
  z-index: 11;
}

div.hover-v2 > a{
  z-index: 16;
}

/*NOTICE the hover syntax ... .ugh*/
.hover-v2 .box:hover .caption{ 
  background-color: rgba(0,0,0,.75);
  border-radius: 0 0 25px 25px;
  height: 100%;
}

/*
  hover Text && line
*/

/* > * is 'only 1 level below'*/
.hover-v2 .caption > *{
  transition: all;
  transition-duration: .3s;
  opacity: 0;
}

.hover-v2:hover .caption > *{
  opacity: 1;
}

.hover-v2 .caption p:nth-child(1){
  margin-top: 0;
  transform: translateY(-10px);
}

.hover-v2:hover .caption p:nth-child(1){
  transform: translateY(0);
  transition-delay: 0.2s;
}

/*HR*/
.hover-v2 .caption hr{
  width: 0%;
  margin: 10px 12.5%;
}

.hover-v2:hover .caption hr{
  width: 75%;
  transition-delay: 0.1s;
}


/*sub-text*/
.hover-v2 .caption p.sub-text{
  transform: translateY(10px);
}

.hover-v2:hover .caption p.sub-text{
  transform: translateY(0);
  transition-delay: 0.35s;
}


/*
  div

    ::before
  
    <a>
  
    div.picture
  
      div.thumb
  
    div.item-description alt
  
      h6 (purple text)
  
      div.loader
  
    ::after (spinner)
*/
  